html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    height: 105px;
}

.navbar__upper {
    background-color: #cccccc;
}

.navbar__lower {
    background-color: #464646;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.navbar__link {
    list-style-type: none;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.navbar__link li {
    display: inline;
    font-size: 25px;
}


.navbar__link a {
    text-decoration: none;
}

.navbar__link a:visited {
    color: #cccccc;
}

.header {
    display: grid;
    grid-template-columns: repeat(15, 2fr);
    grid-template-rows: repeat(10, 3fr);
    height: 550px;
}

.header__square {
    background-color: #cccccc;
    grid-column: 2/15;
    grid-row: 2/25;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #1c1c1c;
    font-size: 45px;
    font-weight: lighter;
    letter-spacing: 35px;
}

.header__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 75%;
}

.header__button-wrapper button {
    height: 50px;
    width: 200px;
    background-color: #464646;
    margin-left: 30px;
    margin-right: 30px;
}

.introduction {
    display: grid;
    grid-template-rows: 100px 250px;
    grid-template-columns: repeat(15, 2fr);
    line-height: 1.7;
    margin-bottom: 75px;
    color: #464646;
}

.introduction p {
    text-align: justify;
}

.introduction__title {
    grid-column: 1/16;
    justify-self: center;
    align-self: center;
}

.introduction__left {
    grid-row: 2/3 ;
    grid-column: 2/8;
}

.introduction__right {
    grid-row: 2/3;
    grid-column: 9/15;
}

.images {
    display: grid;
    grid-template-columns: 20% 2% 40% 2% 36%;
    grid-template-rows: 10% 5% 40% 5% 40%;
    height: 500px;
    width: 100%;
}

.images__title {
    font-size: 28px;
    color: #464646;
    align-self: center;
    justify-self: center;
    grid-column: 1/6;
}

.images__one {
    background-color: #cccccc;
    grid-column: 1/1;
    grid-row: 2/6;

}

.images__two {
    background-color: #cccccc;
    grid-column: 3/4;
    grid-row: 2/4;
}

.images__three {
    background-color: #cccccc;
    grid-column: 3/4;
    grid-row: 5/6;
}


.images__four {
    background-color: #cccccc;
    grid-column: 5/6;
    grid-row: 2/6;
}